.box {
    position :relative;
}

.img {
    top: 30px;
    position: absolute;
    width: auto;
    padding: 0px 0px;
    margin:0px 2px;
}

.fake {
    height: 550px;
    position: relative;
}

.title {
    position: relative;
    color: #6a8759;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #9ca19d;
    font-size: 20px;
}