.box {
    position :relative;
}

.img {
    top: -21px;
    position: absolute;
    width: auto;
    padding: 0px 0px;
    margin:0px 2px;
}

.fake {
    height: 280px;
    position: relative;
}

.texts {
    position: relative;
    color: #9ca19d;
    font-size: 20px;
}