.box {
    position: relative;
}

.title {
    position: relative;
    color: #1e211c;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #2c2c2c;
    font-size: 20px;
    #font-family: "hyunygothic";
}

.boxSubText {
    position: relative;
    display: "inline-block";
    float: left;

    width: 360px;
    height: 400px;
    padding : 100px 0;
}

.boxSubImg {
    position: relative;
    display: "inline-block";
    float: left;

    width: 400px;
    height: 400px;
    background-size: 400px 400px;
}

.boxSubImgTag {
    position: absolute;
    width: 400px;
    height: 400px;
    text-align: right;
    color: rgba(255, 255, 255, 0);
    font-size: 0.8em;
}

.boxSubImgTag:hover {
    color: rgb(255, 255, 255);
    animation-duration: 1s;
    animation-name: fd;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    background-color: rgba(0, 0, 0, 0.507);
}

.boxInfo {
    width: 300px;
    border-style: solid none solid none;
    border-color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
}

.infoText {
    font-size: 1.3em
}

.thum, .thumIn, .thumOut {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}

.thum {
    position: relative;
    display: "inline-block";
    float: left;
}

.thumOut, .thumIn {
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    transition: opacity 1s ease; /* 서서히 효과 적용 */
}

.thumIn {
    background-color: rgba(0, 0, 0, 0.4);
}
