.box {
    position: relative;
}

.title {
    position: relative;
    color: #1e211c;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #2c2c2c;
    font-size: 20px;
    font-family: "hyunygothic";
}

.boxSubText {
    position: relative;
    display: "inline-block";
    float: left;

    width: 360px;
    height: 400px;
}

.boxSubImg {
    position: relative;
    display: "inline-block";
    float: left;

    width: 400px;
    height: 400px;
    border: 1.2px solid rgb(136, 136, 136);
}