.box {
    position: relative;
}

.title {
    position: relative;
    color: #1e211c;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #2c2c2c;
    font-size: 20px;
    #font-family: "hyunygothic";
}

.boxSubText {
    position: relative;
    display: "inline-block";
    float: left;

    width: 360px;
    height: 400px;
    padding : 100px 0;
}

.boxSubImg {
    position: relative;
    display: "inline-block";
    float: left;

    width: 400px;
    height: 400px;
    background-size: 400px 400px;

    
}

.boxSubImgTag {
    position: absolute;
    width: 400px;
    height: 400px;
    text-align: right;
    color: rgba(255, 255, 255, 0);
    font-size: 0.8em;
}

.boxSubImgTag:hover {
    color: rgb(255, 255, 255);
    animation-duration: 1s;
    animation-name: fd;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    background-color: rgba(0, 0, 0, 0.507);
}

@keyframes fd {
    0% {
      opacity: 0; 
    }

    100% {
      opacity: 1;
    }
}
