.box {
    position: relative;
}

.title {
    position: relative;
    color: #1e211c;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #2c2c2c;
    font-size: 20px;
}

.thum {
    display: inline-block;
    width: 360px;
    height: 200px;
    border: 1.2px solid rgb(136, 136, 136);
    background-size: 360px 200px;
}

.thumOut {
    position: absolute;
    width: 360px;
    height: 200px;
    color: rgb(255, 255, 255);

    display : flex;
    justify-content : center;
    align-items : center;

    font-size: 1.2em;
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
}

.thumIn {
    position: absolute;
    width: 360px;
    height: 200px;
    color: rgb(255, 255, 255);
    animation-duration: 1s;
    animation-name: fd;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    background-color: rgba(0, 0, 0, 0.8);

    display : flex;
    justify-content : center;
    align-items : center;
}

.thumIn1 {
    animation-duration: 1s;
    animation-name: fd;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../../public/img/b12.png');
}

.thumIn2 {
    animation-duration: 1s;
    animation-name: fd;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../../public/img/b22.png');
}

.thumIn3 {
    animation-duration: 1s;
    animation-name: fd;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../../public/img/b32.png');
}


.thumIn4 {
    animation-duration: 1s;
    animation-name: fd;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../../public/img/b42.png');
}

@keyframes fd {
    0% {
      opacity: 0; 
    }

    100% {
      opacity: 1;
    }
}
