.box {
    position: relative;
}

.title {
    position: relative;
    color: #1e211c;
    font-size: 25px;
}

.texts {
    position: relative;
    color: #2c2c2c;
    font-size: 20px;
}

.thum {
    display: inline-block;
    width: 380px;
    height: 220px;
    border: 1.2px solid rgb(136, 136, 136);
    background-size: 380px 220px;
    cursor: pointer;
}

.thumOut, .thumIn {
    position: absolute;
    width: 380px;
    height: 220px;
    color: rgb(255, 255, 255);
    display : flex;
    justify-content : center;
    align-items : center;
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
    transition: opacity 1s ease; /* 서서히 효과 적용 */
}

.thumOut {
    font-size: 1.2em;
}

.thumIn {
    box-sizing: border-box;
    padding-left: 20px; 
    padding-right: 20px;
}